.h1inicio{
    color:rgba(31, 37, 37, 0.649);
    text-align: center;
    padding: 15px;

}

.p{
    text-align: center; 
}

.img{
    margin-bottom: 50px;
    border-radius: 70px;
    display: block;
    margin: auto;
    padding: 7px;
} 
